{% extends "base.html" %}

{% block title %}Products{% endblock title %}

{% block table_header %}Products table{% endblock table_header %}

{% block search %}{% include "search.html" %}{% endblock search %}

{% block content %}
    <section class="pb-4">
        <div class="text-light table-responsive text-nowrap table-wrappe">
            <table class="table table-dark table-striped text-nowrap">
                <thead class="thead-dark">
                    <tr>
                    {% comment %} TODO: Add dinamic way {% endcomment %}
                        <th scope="col"></th>
                        <th scope="col">product_id</th>
                        <th scope="col">product_name</th>
                        <th scope="col">supplier_id</th>
                        <th scope="col">category_id</th>
                        <th scope="col">quantity_per_unit</th>
                        <th scope="col">unit_price</th>
                        <th scope="col">units_in_stock</th>
                        <th scope="col">units_on_order</th>
                        <th scope="col">reorder_level</th>
                        <th scope="col">discontinued</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete_product' pk=product.product_id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-minus-fill" viewBox="0 0 16 16">
                                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1"/>
                                </svg>
                            </a>
                        </td>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.supplier_id }}</td>
                        <td>{{ product.category_id }}</td>
                        <td>{{ product.quantity_per_unit }}</td>
                        <td>{{ product.unit_price }}</td>
                        <td>{{ product.units_in_stock }}</td>
                        <td>{{ product.units_on_order }}</td>
                        <td>{{ product.reorder_level }}</td>
                        <td>{{ product.discontinued }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}